<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DefaultConnection" 
             connectionString="Server=(localdb)\mssqllocaldb;Database=DataStudioDataMgr;Trusted_Connection=true;MultipleActiveResultSets=true;" 
             providerName="System.Data.SqlClient" />
		<add name="MongoDbConnectionString" connectionString="mongodb+srv://admin:4ZAqu8qnwTnkFch@cluster0.rkrpr.mongodb.net/?retryWrites=true&amp;w=majority" />
        <add name="AdStudioUnfi"
             connectionString="Data Source=vm-testdb;Integrated Security=true;Initial Catalog=UNFI"
             providerName="System.Data.SqlClient" />
		<add name="MediaStudio" connectionString="Data Source=vm-testdb;Integrated Security=true;Initial Catalog=MediaStudio"/>
		<add name="DigitalStudio" connectionString="Data Source=vm-testdb;Integrated Security=true;Initial Catalog=DigitalStudio"/>
    </connectionStrings>
    
    <appSettings>
        <!-- Service Execution Configuration -->
        <add key="RunEmfluenceApi" value="true" />
        <add key="RunCouponApi" value="false" />
        <add key="RunTestEmailMethod" value="false" />
        <add key="RunCampaignData" value="false" />
        <add key="RunMediaStudioData" value="false" />
        <add key="RunDigitalStudioData" value="false" />
        <add key="RunEntryMetricsData" value="false" />
        
        <!-- Emfluence API Configuration -->
        <add key="EmfluenceAccessToken" value="459F7AAF-77D6-4AAB-8EC4-75D2E926790E" />
        <add key="EmfluenceDeliveryType" value="manual" />
        <add key="EmfluenceStatus" value="sent" />
        <add key="EmfluenceDateSentStart" value="2024-01-01" />
        <add key="EmfluenceMaxRecords" value="10000" />
        <add key="TestStartDate" value="" />

		<!-- Additional Store Configurations -->
		<!-- Store 1 -->
		<add key="Store_1_AccessToken" value="31EA6A4E-8C1A-4E70-A2C5-9B679EB98978" />
		<add key="Store_1_Name" value="Big John" />
		<add key="Store_1_DeliveryType" value="manual" />
		<add key="Store_1_Status" value="sent" />
		<add key="Store_1_DateSentStart" value="2024-01-01" />
		<add key="Store_1_MaxRecords" value="10000" />
		<add key="Store_1_Enabled" value="true" />

		<!-- Store 2 -->
		<add key="Store_2_AccessToken" value="E6002F6C-4E8C-418D-974F-D4890564D706" />
		<add key="Store_2_Name" value="Bratchers" />
		<add key="Store_2_DeliveryType" value="manual" />
		<add key="Store_2_Status" value="sent" />
		<add key="Store_2_DateSentStart" value="2024-01-01" />
		<add key="Store_2_MaxRecords" value="10000" />
		<add key="Store_2_Enabled" value="true" />

		<!-- Store 3 -->
		<add key="Store_3_AccessToken" value="7CFCDDFB-2A85-45D9-AFB3-BF8648D33D85" />
		<add key="Store_3_Name" value="Schultes" />
		<add key="Store_3_DeliveryType" value="manual" />
		<add key="Store_3_Status" value="sent" />
		<add key="Store_3_DateSentStart" value="2024-01-01" />
		<add key="Store_3_MaxRecords" value="10000" />
		<add key="Store_3_Enabled" value="true" />

		<!-- Store 4 -->
		<add key="Store_4_AccessToken" value="E8D98C1C-680F-409C-A558-C3B53B630E32" />
		<add key="Store_4_Name" value="Sun Fresh" />
		<add key="Store_4_DeliveryType" value="manual" />
		<add key="Store_4_Status" value="sent" />
		<add key="Store_4_DateSentStart" value="2024-01-01" />
		<add key="Store_4_MaxRecords" value="10000" />
		<add key="Store_4_Enabled" value="true" />

		<!-- Store 5 -->
		<add key="Store_5_AccessToken" value="EC03C2CB-24AC-4BCC-883A-EEA191A9F5D7" />
		<add key="Store_5_Name" value="Taylorsville" />
		<add key="Store_5_DeliveryType" value="manual" />
		<add key="Store_5_Status" value="sent" />
		<add key="Store_5_DateSentStart" value="2024-01-01" />
		<add key="Store_5_MaxRecords" value="10000" />
		<add key="Store_5_Enabled" value="true" />

		<!-- Store 6 -->
		<add key="Store_6_AccessToken" value="A5638AC5-01BD-4BD0-B617-E5E451749B01" />
		<add key="Store_6_Name" value="Country Mart KC" />
		<add key="Store_6_DeliveryType" value="manual" />
		<add key="Store_6_Status" value="sent" />
		<add key="Store_6_DateSentStart" value="2024-01-01" />
		<add key="Store_6_MaxRecords" value="10000" />
		<add key="Store_6_Enabled" value="true" />

		<!-- Store 7 -->
		<add key="Store_7_AccessToken" value="7492E9EC-1925-4F78-9FC2-4107F61F73AF" />
		<add key="Store_7_Name" value="Greer's" />
		<add key="Store_7_DeliveryType" value="manual" />
		<add key="Store_7_Status" value="sent" />
		<add key="Store_7_DateSentStart" value="2024-01-01" />
		<add key="Store_7_MaxRecords" value="10000" />
		<add key="Store_7_Enabled" value="true" />

		<!-- Store 8 -->
		<add key="Store_8_AccessToken" value="STORE_8_ACCESS_TOKEN_HERE" />
		<add key="Store_8_Name" value="Store 8 Name" />
		<add key="Store_8_DeliveryType" value="manual" />
		<add key="Store_8_Status" value="sent" />
		<add key="Store_8_DateSentStart" value="2024-01-01" />
		<add key="Store_8_MaxRecords" value="10000" />
		<add key="Store_8_Enabled" value="true" />

		<!-- Store 9 -->
		<add key="Store_9_AccessToken" value="STORE_9_ACCESS_TOKEN_HERE" />
		<add key="Store_9_Name" value="Store 9 Name" />
		<add key="Store_9_DeliveryType" value="manual" />
		<add key="Store_9_Status" value="sent" />
		<add key="Store_9_DateSentStart" value="2024-01-01" />
		<add key="Store_9_MaxRecords" value="10000" />
		<add key="Store_9_Enabled" value="true" />
		
        <!-- Coupon API Configuration -->
        <add key="CouponStartDate" value="2025-09-25" />
        <add key="CouponEndDate" value="2025-09-25" />
        <add key="CouponDaysBack" value="30" />
        <add key="CouponStatuses" value="string" />
        
        <!-- General Configuration -->
        <add key="OutputDirectory" value="output" />
        <add key="JsonFilePath" value="response.json" />
        <add key="MaxRecordsToProcess" value="1000" />
        <add key="UseLocalFile" value="false" />
        
        <!-- MongoDB Configuration -->
        <add key="MongoDbConnectionString" value="mongodb://localhost:27017" />
        <add key="MongoDbDatabaseName" value="integration_test" />
        <add key="MongoDbEmfluenceCollection" value="emfluence_email" />
        <add key="EnableMongoDbStorage" value="true" />
        
        <!-- Logging Configuration -->
        <add key="EnableDetailedLogging" value="true" />
        <add key="LogToFile" value="false" />
        <add key="LogFilePath" value="DataStudioDataMgr.log" />
    </appSettings>
</configuration>

